.container {
    display: grid;
    max-width: 960px;
    margin: 60px auto;
  }
  .content {
    padding-right: 30px;
  }

  button {
    background: #1f9751;
    color: #fff;
    border: 0;
    padding: 6px 8px;
  }
  
  /* despeses */
  .despeses li {
    margin: 30px auto;
    border: 1px solid #f2f2f2;
    box-shadow: 3px 3px 5px rgba(50,50,50,0.1);
    padding: 20px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-left: 4px solid #1f9751;
  }
  .despeses .concepte {
    color: #777;
    font-weight: bold;
    font-size: 1.6em;
  }
  .despeses .quantia {
    margin-left: auto;
    margin-right: 40px;
    color: #777;
    font-weight: bold;
    font-size: 1.2em;
  }
  .despeses .pagatPer {
    margin-left: auto;
    margin-right: 40px;
    color: #777;
    font-weight: normal;
    font-size: 1.1em;
  }
  .despeses button {
    position: absolute;
    top: 0;
    right:0;
    background: #ddd;
    color: #777;
    border: none;
    padding: 12px 8px;
    text-align: center;
    line-height: 0;
    font-size: 0.9em;
    cursor: pointer;
  }

.despeses .link {
  flex-grow: 1;
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
}

.despeses .link:hover .concepte {
  color: #1f9751;
  text-decoration: underline;
}

.despeses-llista {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.despeses-labels {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

.despesa-label {
  background-color: #383434;
  border-radius: 20px;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 0.9rem;
  color: #bbbbbb;
}

.despesa-label:hover {
  background-color: #ddd;
}

.despesa-label .quantia {
  font-size: 0.8em;
  color: #ad8b00;
  margin-left: 0.4rem;
}

/* focus visual temporal */
.despesa-focus {
  /*background-color: rgba(173, 139, 0, 0.3) !important;*/
  animation: flash 0.4s ease-in-out;
}


@keyframes flash {
  0% { background-color: rgba(255, 255, 0, 0.5); }
  50% { background-color: transparent; }
  100% { background-color: rgba(255, 255, 0, 0.5); }
}

.despesa-line {
  padding:8px;
  
}
.despesa-line span {
   color: #000;
   padding: 0.5em;
   margin: 0.2em;
}