.targeta {
    border: 1px solid #6d6d6d;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.65);
    padding: 10px;
    max-width: 400px;
    margin: 20px auto;
    border-radius: 0.25rem;
    
}

.targeta button {
    margin: 2px;
}

.targeta h2 {
    border-bottom: 5px solid #666;
    padding-bottom: 5px;
    margin-bottom: 0px;
}

.targeta p {
    color: #999;
    padding-bottom: 5px;
    margin-top: 0px;
}