.despesa-form label,
.despesa-form input {
    display: block;
    text-align: left;
    width: 100%;
    margin: 10px auto;
    box-sizing: border-box;
    font-size: 1.2em;
}

.despesa-form .bordered {
    
    /* box-shadow: 4px solid rgba(105, 13, 128, 0.6); */
    padding: 10px 15px;
    border-radius: 1em;
    box-shadow: ouset;
    box-shadow: inset -4px 4px 5em rgba(105, 13, 128, 0.6);;
    
}

.despesa-form button {
    margin: 1em;
}

.bordered h4 {
    padding: 5px 15px;
    border-bottom: 2px solid rgba(0,0,0,0.3);
    margin-top: -10px;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: rgba(0,0,0,0.3);

}